{%extends "layout.html" %}
{%block title%}
    About
{%endblock title%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>TODO LİST</center></h1>
      <p class="lead"><center>This is your todo list.</center></p>
      <p class="lead"><center>Just Follow the List</center></p>
      <p class="lead"><center>If you follow the list, you will not make mistakes</center></p>
      <p class="lead"><center>You can update anything</center></p>
      
      <div class ="text-center">
        <button type="button" class="btn btn-outline-success">Create TODO List</button>
      </div>
    </div>
  </div>
      
{%endblock content%}