{% extends "layout.html"%}
{% block title%}
CREATE PAGE
{% endblock title%}

{% block content%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>TODO LİST</center></h1>
      
      <div >

            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <label>{{ todo_list.title}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <label>{{ todo_list.description}}</label>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                  <label>{{ todo_list.date}}</label>
                </div>
              </div>
      </div>
    </div>
  </div>
{% endblock content%}
